.orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 90%;
}
.order {
  display: flex;
  width: 90%;
  height: 15%;
  background-color: #0866992d;
  border: 1px solid #333;
  color: #adadad;
  border-radius: 1rem;
  margin-bottom: 0.3em;
  cursor: pointer;
  transition: color 0.1s;
}
.order:hover {
  color: #e3e3e3;
}
.order h4 {
  font-weight: 100;
}
.order h5 {
  font-weight: 100;
}
.order h6 {
  font-weight: 100;
  letter-spacing: 1px;
}
.order_mainPart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  padding-left: 1em;
  border-right: 1px solid #333;
}
.order_secondPart {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 1em;
  flex-grow: 1;
}
.order_secondPart > * {
  display: flex;
  align-items: center;
  width: 50%;
  height: 50%;
}
