:root {
  font-size: 62.5%;

  --backgroundAppColor: #151616;
  --primaryColor: #fff;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: var(--primaryColor);
  background-image: url("images/pexels-dana-tentis-370799.jpg");
}
#root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(200px);
}
.app {
  width: max(36rem, 65vw);
  height: max(36rem, 40vw);
  font-size: clamp(1.5rem, 1.8vw, 3rem);
  background-color: var(--backgroundAppColor);
  border-radius: 5rem;
  z-index: 1;
}
